# Carpeta generada por Containerlab
containerlab/clab-network-gitops-lab/

github-runner/

# Archivos de sistema
.DS_Store
*.log
__pycache__/
*.pyc

# Archivos sensibles
*.env
.env

# Containerlab temporales y binarios descargados por el runner
containerlab/containerlab
containerlab/*.tar.gz*
containerlab/clab-*
*.bak
